* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.user-image {
    margin: 0 auto;
}

.card-image-container {
    margin-top: 50px;
}

.male {
    background-color: #3498db;
    color: #fff;
}

.male:hover {
    color: #fff;
}

.female:hover {
    color: #fff;
}

.female {
    background-color: #fd79a8;
    color: #fff;
}


.card .card-content-bg {
    background-color: #fff;
    margin-top: -40px;
    padding-top: 50px;
    border-radius: 2rem;
}

button {
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(0.98);
}

.card .media-content p {
    margin-bottom: 0;
    color: #2d3436;
}

.card-radius {
    border-radius: 2rem;
}

